<html>

<head>
    <title>Simple Flask({{ version }})</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1 style="color:#093657">User List({{ version }})</h1>
        <form action="/users" method="post">
            <div class="form-group">
                <label for="userId">User ID</label>
                <input type="text" class="form-control" id="userId" name="userId" aria-describedby="userIdHelp"
                    placeholder="Enter User ID">
                <small id="userIdHelp" class="form-text text-muted">User ID must be number.</small>
            </div>
            <div class="form-group">
                <label for="userName">User Name</label>
                <input type="text" class="form-control" id="userName" name="userName" placeholder="Enter User Name">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <td>User ID</td>
                    <td>User Name</td>
                    <td>Country</td>
                </tr>
            </thead>
            <tbody>
                {% if users %}
                {% for user in users %}
                <tr>
                    <td>{{user.user_id}}</td>
                    <td>{{user.user_name}}</td>
                    <td>{{user.country}}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3">Not Found users</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <script src="static/js/bootstrap.min.js"></script>
</body>

</html>